<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>TestCase</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>printNumer</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickMovieLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>search</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyGenereAndRating</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyName</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyDir</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>OpenBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeBrowser</td>
<td>&nbsp;</td></tr>
</table>
