<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ca8de8">  <td>21/10/24 19:07:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCase.OpenBrowser()[pri:0, instance:TestCase@3d74bf60]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 19:07:39</td>   <td>20</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.clickMovieLink()[pri:3, instance:TestCase@3d74bf60]">clickMovieLink</td> 
  <td>main@572868060</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 19:07:39</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase.closeBrowser()[pri:0, instance:TestCase@3d74bf60]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 19:07:39</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.printNumer()[pri:2, instance:TestCase@3d74bf60]">printNumer</td> 
  <td>main@572868060</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 19:07:39</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.search()[pri:1, instance:TestCase@3d74bf60]">search</td> 
  <td>main@572868060</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 19:07:37</td>   <td>-1883</td> <td title="&gt;&gt;TestCase.setup()[pri:0, instance:TestCase@3d74bf60]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@572868060</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 19:07:39</td>   <td>-13</td> <td>&nbsp;</td><td title="&gt;&gt;TestCase.startExtent()[pri:0, instance:TestCase@3d74bf60]">&gt;&gt;startExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 19:07:39</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase.tearDown(org.testng.ITestResult)[pri:0, instance:TestCase@3d74bf60]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 19:07:39</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase.tearDown(org.testng.ITestResult)[pri:0, instance:TestCase@3d74bf60]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 19:07:39</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase.tearDown(org.testng.ITestResult)[pri:0, instance:TestCase@3d74bf60]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 19:07:39</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase.tearDown(org.testng.ITestResult)[pri:0, instance:TestCase@3d74bf60]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 19:07:39</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase.tearDown(org.testng.ITestResult)[pri:0, instance:TestCase@3d74bf60]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 19:07:39</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCase.tearDown(org.testng.ITestResult)[pri:0, instance:TestCase@3d74bf60]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 19:07:39</td>   <td>27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.verifyDir()[pri:5, instance:TestCase@3d74bf60]">verifyDir</td> 
  <td>main@572868060</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 19:07:39</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.verifyGenereAndRating()[pri:4, instance:TestCase@3d74bf60]">verifyGenereAndRating</td> 
  <td>main@572868060</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 19:07:39</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase.verifyName()[pri:7, instance:TestCase@3d74bf60]">verifyName</td> 
  <td>main@572868060</td>   <td></td> </tr>
</table>
