<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>Assignment1</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>searchLocation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>printAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>contactNumber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>varifyTitle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>varifyText</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyLink</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>printRatingsAndReviews</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>OpenBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeBrowser</td>
<td>&nbsp;</td></tr>
</table>
