<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ca8de8">  <td>21/10/24 09:45:47</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Assignment1.OpenBrowser()[pri:0, instance:Assignment1@72f926e6]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902478634</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 09:45:59</td>   <td>12189</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Assignment1.closeBrowser()[pri:0, instance:Assignment1@72f926e6]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902478634</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 09:45:59</td>   <td>12065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assignment1.contactNumber()[pri:0, instance:Assignment1@72f926e6]">contactNumber</td> 
  <td>main@902478634</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 09:45:59</td>   <td>12041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assignment1.printAddress()[pri:0, instance:Assignment1@72f926e6]">printAddress</td> 
  <td>main@902478634</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 09:45:59</td>   <td>11978</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assignment1.printRatingsAndReviews()[pri:0, instance:Assignment1@72f926e6]">printRatingsAndReviews</td> 
  <td>main@902478634</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 09:45:49</td>   <td>1916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assignment1.searchLocation()[pri:0, instance:Assignment1@72f926e6]">searchLocation</td> 
  <td>main@902478634</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 09:45:45</td>   <td>-1578</td> <td title="&gt;&gt;Assignment1.setup()[pri:0, instance:Assignment1@72f926e6]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902478634</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 09:45:47</td>   <td>-77</td> <td>&nbsp;</td><td title="&gt;&gt;Assignment1.startExtent()[pri:0, instance:Assignment1@72f926e6]">&gt;&gt;startExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@902478634</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 09:45:59</td>   <td>12188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Assignment1.tearDown(org.testng.ITestResult)[pri:0, instance:Assignment1@72f926e6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@902478634</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 09:45:59</td>   <td>12188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Assignment1.tearDown(org.testng.ITestResult)[pri:0, instance:Assignment1@72f926e6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@902478634</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 09:45:59</td>   <td>12188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Assignment1.tearDown(org.testng.ITestResult)[pri:0, instance:Assignment1@72f926e6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@902478634</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 09:45:59</td>   <td>12188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Assignment1.tearDown(org.testng.ITestResult)[pri:0, instance:Assignment1@72f926e6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@902478634</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 09:45:59</td>   <td>12188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Assignment1.tearDown(org.testng.ITestResult)[pri:0, instance:Assignment1@72f926e6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@902478634</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 09:45:59</td>   <td>12188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Assignment1.tearDown(org.testng.ITestResult)[pri:0, instance:Assignment1@72f926e6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@902478634</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 09:45:59</td>   <td>12188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Assignment1.tearDown(org.testng.ITestResult)[pri:0, instance:Assignment1@72f926e6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@902478634</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 09:45:57</td>   <td>9946</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assignment1.varifyText()[pri:0, instance:Assignment1@72f926e6]">varifyText</td> 
  <td>main@902478634</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 09:45:57</td>   <td>9971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assignment1.varifyTitle()[pri:0, instance:Assignment1@72f926e6]">varifyTitle</td> 
  <td>main@902478634</td>   <td></td> </tr>
<tr bgcolor="ca8de8">  <td>21/10/24 09:45:59</td>   <td>12019</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Assignment1.verifyLink()[pri:0, instance:Assignment1@72f926e6]">verifyLink</td> 
  <td>main@902478634</td>   <td></td> </tr>
</table>
